@import "../utilidades/variables.scss";
/*Discografia*/

#main-discografia{
    h1{
        color: $color-titulos;
        text-align: center;
        font-size: $letra-h1;
    }
    .contenedor-albumes{
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: repeat(2 1fr);
        box-align: center;
        .album1{
            grid-row: 1/2;
            grid-column: 1/2;
        }
        .album2{
            grid-row: 1/2;
            grid-column: 2/3;
        }
        .album3{
            grid-row: 1/2;
            grid-column: 3/4;
        }
        .album4{
            grid-row: 2/3;
            grid-column: 1/2;
        }
        .album5{
            grid-row: 2/3;
            grid-column: 2/3;
        }
        .album6{
            grid-row: 2/3;
            grid-column: 3/4;
        }
    }

}

@media only screen and (max-width: 500px){
    #main-discografia{
        .contenedor-albumes{
            display: block;
            margin: 50px;
        }
    }
}

#footer-discografia{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $color-portada;
    .copyright{
        color: $color-letra;
    }
}

@media only screen and (max-width: 960px){
    #footer-discografia{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: $color-portada;
        .copyright{
            color: $color-letra;
        }
    }
}