@import "../utilidades/variables.scss";
@mixin sizes ($width, $heigth) {
    width: $width;
    height: $heigth;
};
/*Giras*/

#main-giras{
    h1{
        text-align: center;
        color: $color-titulos;
    }
    .contenedor-concierto{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 5em;
        .concierto{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: auto; 
            button{
                margin:auto;
                border: 1px;
                background-color: $color-hover;
                border-radius: 10%;
                box-shadow: 3px 3px 3px grey;
                span{
                    color: $color-letra;
                    margin: 5px; 
                }
            }
        }
        .img-concierto{
            position: fixed;
            right: 1px;
            bottom: 10px;
            @include sizes (500px, 500px)
        }
    }
}


@media only screen and (max-width: 1250px){
    #main-giras{
        .contenedor-concierto{
            .concierto{
                #text{
                    text-align: center;
                }
                button{
                  justify-content: center;
                }
            }
            .img-concierto{
                display: none;
            }
        }

    }
}

#footer-giras{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $color-portada;
    .copyright{
        color: $color-letra;
    }
}
@media only screen and (max-width: 1700px){
    #footer-giras{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: $color-portada;
        .copyright{
            color: $color-letra;
        }
    }
}



   